#SearchGameID{
width:170px;
height:25px;
margin-right: 10px;
border:2px;
padding:0px 0px 0px 25px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px; /* future proofing */
-khtml-border-radius: 5px; /* for old Konqueror browsers */
background: url("./../Resources/SearchBar.png") no-repeat scroll 6px 4px white;

}


div.TopTitleBar{
position: relative;
background:#000011;
border-radius:15px;
width: 980px;
height: 45px;
}

#searchform input, #searchform input:hover, #searchform input:focus, #SearchGameID{
	font-family: Arial,sans-serif , "Times New Roman";
	font-size: 13px;
}


#TopMenuNav{
	font-family: Arial,sans-serif , "Times New Roman";
	list-style:none;
	font-weight:bold;
	font-size: 13px;
	margin: 0px;
	padding:0px;
	/* Clear floats */
	float:left;
	width:100%;
	/* Bring the nav above everything else--uncomment if needed.
	position:relative;
	z-index:5;
	*/
}

#TopMenuNav li{
	float:left;
	margin: 0px;
	position:relative;
}

#TopMenuNav a{
display:block;
width: 140px;
height: 49px;
line-height:49px; 
border-style: solid;
border-width: 0px;
border-color: white;
font-weight:bold;
color:#FFFFFF;
background-color: transparent;
text-align:center;
padding:0px;
text-decoration:none;
margin:auto;	
}

#TopMenuNav a:hover, #TopMenuNav li:hover a{
	/* #TopMenuNav a:hover - Selecting top menu */
	/* #TopMenuNav li:hover a - These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */

	background-color: #56566e;
	filter:alpha(opacity=100);
	-moz-opacity:1;
	-khtml-opacity: 1;
	opacity: 1;	
}

/*--- DROPDOWN ---*/
#TopMenuNav td {
	vertical-align:top;	
}


#TopMenuNav div.TopMenuContent{
	Padding:0px;
	background:#fff; /* Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). */
	background:rgba(255,255,255,0); /* But! Let's make the background fully transparent where we can, we don't actually want to see it if we can help it... */
	list-style:none;
	position:relative;
	left:-9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
	display:none;
	background-color: #3f3f59;
}

#TopMenuNav div.TopMenuContentBar{
	background-color: #56566e;
	height: 10px;
	filter:alpha(opacity=100);
	-moz-opacity:1;
	-khtml-opacity: 1;
	opacity: 1;
	margin-bottom: 1px;
}



#TopMenuNav li:hover div.TopMenuContent { /* Display the dropdown on hover */
	
	display:block;
	position:absolute;
	border-right:0px solid white;
	border-left:0px solid white;
	margin: 0px;
	padding: 0px;

}

#TopMenuNav li:hover #TopMenuContent1{
	left: -70px; /* Bring back on-screen when needed */
}

#TopMenuNav li:hover #TopMenuContent2{
	left: -20px; /* Bring back on-screen when needed */
}

#TopMenuNav li:hover #TopMenuContent3{
	left: -500px; /* Bring back on-screen when needed */
}

#TopMenuNav li:hover #TopMenuContent4{
	left: 1px; /* Bring back on-screen when needed */
}

#TopMenuContent4{
	color: white;
}

#TopMenuContent4 a{
	width: auto;
	height: auto;
	line-height: NORMAL;
	display: inline;
	text-decoration:underline;
	font-weight: NORMAL;
}



#TopMenuNav li:hover div.TopMenuContent a{ 
/*#TopMenuNav li:hover a,
The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */
	text-decoration:none;
	border-right:0px;
	border-left:0px;	
	background-color: transparent;
	margin: 0px;
}

#TopMenuNav li:hover div.TopMenuContent div.MenuContent:hover{ 
/* Here we define the most explicit hover states--what happens when you hover each individual link. */
	background-color: #56566e;
}

#TopMenuNav a.Menu1Link{
	width: 200px;
	height: 30px;
	line-height: 30px;
}

#TopMenuNav a.Menu1Link-2{
	width: 200px;
	height: auto;
	line-height: 20px;
}

#TopMenuNav a.Menu2Link{
	width: 200px;
	height: auto;
	line-height: 20px;	
}

#TopMenuNav a.Menu3Link{
	width: 200px;
	height: 30px;
	line-height: 30px;
}

#TopMenuNav a.Menu3Link-2{
	width: 200px;
	height: auto;
	line-height: 20px;
}